NODE_ENV=production
PORT=3000
MONGO_URI=mongodb+srv://username:password@cluster.example.mongodb.net/ifpc
JWT_SECRET=replace_with_a_long_random_secret
FRONTEND_URLS=https://ifpc.netlify.app

# Optional (required only if image upload is used)
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
